<menu id="sidenav">
  <nav>
    <ul>
      <li class="text-label">Get Started</li>
      <li>Installation</li>
      <li>Using Conveyor</li>
      <li>Adding Connectors</li>
    </ul>
    <ul>
      <li class="text-label">Connector Authoring</li>
      <li>Building Node-Red Flows</li>
      <li>Building def.json and depend.json</li>
      <li>Packaging</li>
    </ul>
    <ul>
      <li class="text-label">UI Development</li>
      <li>Luis Defines</li>
      <li>Another</li>
      <li>Another</li>
    </ul>
    <ul>
      <li class="text-label">API Documentation</li>
      <li>Info from Swagger</li>
      <li>More Swagger</li>
      <li>More Swagger</li>
    </ul>
  </nav>
</menu>
